body, h1 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%
}

.bgimg {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/12399/free-pumpkin-wallpaper-25771-26455-hd-wallpapers.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}