body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

html {
	display: table;
}

canvas {
	width: 900px;
	height: 200px;
	display: block;
	position: relative;
	background: transparent;
	margin: 40px auto;
}

body {
	background: #000000;
	background-image: url("map.jpg");
	background-position: top center;
	background-size: cover;
	background-color:rgba(0,0,0,0.25);
	color: #fff;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
